@import 'variables';
@import 'mixins';
.faq-container{
    margin-top: 10%;
    min-height: 70vh;
}
.faq-header{
    text-align: center;
}
.faq-header div{
    width: 100%;
}
.faq-data{
    display: flex;
    align-items: $align-items-center;
    justify-content: space-around;
    width: 100%;
}

.accordion-item{
    background-color: #cec8c8 !important;
    border: none;
}

.accordion-button{
    background-color: #cec8c8  !important;
    box-shadow: none !important;
}

@media(max-width:426px){
    .faq-container{
        margin-top: 20%;
    }
}